:root {
  --default-font-family: "Poppins", sans-serif;
  --heading-font-family: "Playfair Display", serif;
  --branding-color: #2e6a9b /*#6c63ff*/;
  --secondary-color: #f9f7fe;
}
body {
  font-family: var(--default-font-family);
  font-weight: normal;
}

nav {
  padding: 15px 0;
}

.logo {
  height: 40px;
}

nav ul {
  margin: 0px;
  padding: 0px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #272142;
}

nav a:hover {
  color: var(--branding-color);
}

nav .active {
  color: var(--branding-color);
}

nav a:focus {
  color: var(--branding-color);
  outline: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
}

h1 {
  font-size: 96px;
  line-height: 1.3;
}

h2 {
  font-size: 64px;
  line-height: 1.3;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

a {
  color: var(--branding-color);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0px;
  color: #272142;
}

.hero h2,
.content-container h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}

.btn-branding {
  background: var(--branding-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  border-radius: 4px;
  padding: 15px 30px;
  transition: all 100ms ease-in-out;
}

.btn-branding:hover {
  background: var(--secondary-color);
  border-color: var(--branding-color);
  color: var(--branding-color);
}

.btn-branding-second {
  background: var(--secondary-color);
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  padding: 15px 30px;
  transition: all 100ms ease-in-out;
}

.btn-branding-second:hover {
  background: white;
  border-color: #272142;
  color: #272142;
  opacity: 0.5;
}

.btn-project {
  border: 1px solid white;
  transition: all 2ms ease-in-out;
}

.btn-project:hover {
  border: 1px solid var(--branding-color);
  opacity: 0.7;
  border-radius: 10px;
}

.project-description {
  padding: 60px 50px;
}

img {
  max-width: 100%;
}

.content-container {
  padding: 60px 20px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 75px;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 18px;
}

.content a {
  text-decoration: none;
}

.content {
  margin: 30px;
}

footer {
  margin: 60px 0px;
}

footer .contact-box {
  background: var(--secondary-color);
  border-radius: 10px;
  padding: 30px 120px;
}

footer .link-mail {
  text-decoration: none;
  color: #272142;
  text-align: center;
  font-size: 24px;
  transition: all 100ms ease-in-out;
}

footer .link-mail:hover {
  color: var(--branding-color);
}

footer .link-social a {
  margin: 0px 10px;
  padding: 10px 16px;
  font-size: 24px;
  color: var(--branding-color);
  background: var(--secondary-color);
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .link-social a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 991px) {
  h1,
  .content-container h1 {
    font-size: 44px;
    line-height: 1.3;
  }

  h2 {
    font-size: 36px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-description {
    text-align: center;
    padding: 25px 20px;
  }

  .content-container {
    text-align: center;
    padding: 20px;
  }

  nav a {
    font-size: 14px;
  }

  footer .link-mail {
    font-size: 18px;
  }
}
